{% extends "base.html" %}
{% block alert %}
<div class="green" style="height:50px">
    <p style="margin: 15px 750px 10px 450px;font-size:24px;height:40px" >实时监控
    <form action="monitor_stop.html" method="post">
        <input name="Stop" style="margin-top: -10px;float: right;width: 50px;" aria-hidden="true"  type="submit"  value="Stop">
    </form>

    </p>
</div>
{% endblock %}

{% block content %}
<div class="widget-container">
    <section class="widget small" style="width:78%;min-height: 900px;overflow : auto">
        <!--折线图-->
        <div class="content" style="height:450px">
            <div id="demo1" style="height:400px" ></div>
            <script type="text/javascript">
                var serverdata={}

                function datafromserver() {
                    // $.代表 jQuery.ajax。感觉有点像this.ajax
                    $.ajax({
                        type: "POST",
                        url: "/monitor/start",
                        dataType: "json",
                        // data:next_json,
                        success : function(data){
                            serverdata=data  //从后台获得的jason数据
                        }
                    });
                }
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('demo1'));
                //让demo1这个div变成Chart类的一个实例
                //创造随机数据
                var date = ['0'];
                var length=[0];

                //首先随机创建三十个数据

                // 指定图表的配置项和数据
                var option = {
                    xAxis: {
                        type: 'category',
                        data: date
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: length,
                        type: 'line'
                    }]
                };

                // 使用刚指定的配置项和数据显示图表。
                // var next_json={
                //     "value":0
                // }

                myChart.setOption(option);

                // 设置播放间隔。每个2000ms调用一次setInterval函数
                setInterval(function(){
                    datafromserver()  //调用Ajax函数从后台获取json数据
                    date.push(serverdata[date]);    // 从后端获取一个新的流量大小，这里怎么传进来呢
                    length.push(serverdata[length]);    // 从后端获取一个新的流量大小
                    length.shift();   //删除第一个数据
                    date.shift();   //删除第一个数据
                    // next_json.value=next_json.value+1
                    //然后更新Option，这下就相当于把第一秒的数据去掉了，把下一秒的数据给添加进来了，因此达到动态更新流量的效果
                    myChart.setOption({
                            xAxis: {
                                data: date
                            },
                            series: [{
                                data: length
                            }],
                            error:function (msg) {
                                console.log(msg);
                                alert('系统发生错误');
                            }
                        }
                    );}, 10000)
            </script>
        </div>

    </section>
</div>

{% endblock %}