{% extends "base.html" %}
{% block alert %}
<div class="green" style="height:50px">
    <p style="margin: 15px 750px 10px 450px;font-size:24px;height:40px" >实时监控
    <form action="monitor_stop.html" method="post">
        <input name="Stop" style="margin-top: -10px;float: right;width: 50px;" aria-hidden="true"  type="submit"  value="Stop">
    </form>

    </p>
</div>
{% endblock %}

{% block content %}
<div class="widget-container">
    <section class="widget small" style="width:78%;min-height: 900px;overflow : auto">
        <!--折线图-->
        <div class="content" style="height:450px">
            <div id="demo1" style="height:400px" ></div>
            <script type="text/javascript">
                var serverdata={
                    "datatime":"0",
                    "datalength":"0"
                } //
                var date = ['0'];
                var len=['0'];

                function datafromserver() {
                    // $.代表 jQuery.ajax。感觉有点像this.ajax
                    $.ajax({
                        type: "POST",
                        url: "/monitor/start",
                        dataType: "json",
                        success : function(data){
                            serverdata = data
                        }
                    });
                }
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('demo1'));

                // 指定图表的配置项和数据
                var option = {
                    xAxis: {
                        type: 'category',
                        data: date
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: len,
                        type: 'line'
                    }]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                var count=0
                // 设置播放间隔。每个2000ms调用一次setInterval函数
                setInterval(function(){
                    datafromserver()  //调用Ajax函数从后台获取json数据
                    var a=serverdata['datatime']
                    var b=serverdata['datalength']
                    date.push(a);    // 从后端获取一个新的流量大小，这里怎么传进来呢
                    len.push(b);    // 从后端获取一个新的流量大小
                    count=count+1
                    if (count>=5) {
                        date.shift();
                        len.shift();
                    }
                    console.log(date)
                    console.log(len)

                    myChart.setOption({
                            xAxis: {
                                data: date
                            },
                            series: [{
                                data: len
                            }],
                            // error:function (msg) {
                            //     console.log(msg);
                            //     alert('系统发生错误');
                            // }
                        }
                    );}, 1000)
            </script>
        </div>

    </section>
</div>

{% endblock %}